<!-- Navigation Header -->
<div ng-if="currentUserId">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/#!/dashboard">Ticketing | </a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/#/dashboard">Ticket Management</a></li>
        <li id="goToUsers" class="nav-item" ng-if="currentUserRole == 3">
            <a class="nav-link" href="/#/dashboard/users">User Management</a>
        </li>
      </ul>
      <div class="currentUserName">Hi <label ng-bind="currentUserName"></label>!</div>
      <div ng-controller="UserAuthController">
        <a class="nav-link float-right" href="#" ng-click='do_signout()'> SignOut</a>
      </div>
    </div>
  </nav>
</div>

<ui-view></ui-view>