<h1 class="header">CLOSED TICKET REPORT - <b class="support_name"><%= @current_user.try(:name) %></b></h1>
<div class="other_data">
	<p class="datetime">Date Printed: <%= @dateTimeNow%></p>
	<p class="closed_ticket_count">Record Count: <%= @closed_ticket.count %></p>
</div>

<table class="closed_ticket_table" cellpadding="0" cellspacing="0">
	<th>SUBJECT</th>
	<th>DESCRIPTION</th>
	<th>CUSTOMER</th>
	<th>CREATED AT</th>
	<th>CLOSED AT</th>
	
	<% if @closed_ticket.count <= 0 %>
		<tr><td colspan="5"><h1 class="no_ticket">No closed ticket</h1></td></tr>
	<% end %>

	<% @closed_ticket.each do |ticket| %>
		<tr>
			<td><%= ticket.subject %></td>
			<td><%= ticket.description %></td>
			<td class="capitalize"><%= ticket.customer.name %></td>
			<td><%= format_date_helper(ticket.created_at) %></td>
			<td><%= format_date_helper(ticket.closed_at) %></td>
		</tr>
	<% end %>
</table>