<!-- Main Content -->
<div class="margtop50">
    <h2 class="text-left">TICKET LIST <i class="fa fa-list" aria-hidden="true"></i></h2>

    <a ng-if="currentUserRole == 2" href="/generate_closed_ticket_report.pdf" target="_blank" class="btn btn-info btn-sm" style="float: right; margin-left: 10px;">Closed Ticket Report</a>

    <button ng-if="currentUserRole == 1" ng-click="createTicket()" class="btn btn-warning btn-sm" style="float: right" data-toggle="modal" data-target="#createTicketModal">Create Ticket</button>


    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#open" role="tab" data-toggle="tab">Open Tickets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#in_progress" role="tab" data-toggle="tab">In-progress Tickets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#closed" role="tab" data-toggle="tab">Closed Tickets</a>
        </li>        
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">        
        <div role="tabpanel" class="tab-pane in active" id="open">
            <div class="table-responsive table-hover table-bordered">
                <table class="table">
                    <th>Subject</th>
                    <th>Customer</th>
                    <th>Support</th>
                    <th>Status</th>
                    <th>Action/s</th>
                    <tr ng-if="open_tickets.length <= 0"><td class="no_ticket" colspan="5">No Open Ticket...</td></tr>
                    <tr ng-repeat="ticket in open_tickets">
                        <td class="text-left" ng-bind="ticket['subject']"></td>
                        <td class="text-left text-capitalize" ng-bind="ticket['customer']"></td>
                        <td class="text-left text-capitalize" ng-bind="ticket['support']"></td>
                        <td class="text-left" ng-bind="ticket['formatted_status'] "></td>
                        <td class="ticket-actions text-left" style="width: 200px;">
                            <div>
                                <a ui-sref="show_ticket({id: ticket['id'] })" class="btn btn-success btn-sm sm_btn">view</a>
                            </div>
                            <div ng-if="(currentUserRole == 3) || (ticket.customer_id == currentUserId)">
                                <button data-toggle="modal" data-target="#createTicketModal" ng-click="editTicket(ticket.id)" class="btn btn-warning btn-sm sm_btn">edit</button>
                            </div>
                            <div ng-if="currentUserRole == 3">
                                <button data-toggle="modal" data-target="#confirmationModal" ng-click="setTicketId(ticket.id)" class="btn btn-danger btn-sm sm_btn">delete</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="in_progress">
            <div class="table-responsive table-hover table-bordered">
                <table class="table">
                    <th>Subject</th>
                    <th>Customer</th>
                    <th>Support</th>
                    <th>Status</th>
                    <th>Action/s</th>
                    <tr ng-if="inprogress_tickets.length <= 0"><td class="no_ticket" colspan="5">No In-progress Ticket...</td></tr>
                    
                    <tr ng-repeat="ticket in inprogress_tickets">
                        <td class="text-left" ng-bind="ticket['subject']"></td>
                        <td class="text-left text-capitalize" ng-bind="ticket['customer']"></td>
                        <td class="text-left text-capitalize" ng-bind="ticket['support']"></td>
                        <td class="text-left" ng-bind="ticket['formatted_status'] "></td>
                        <td class="ticket-actions text-left" style="width: 200px;">
                            <div>
                                <a ui-sref="show_ticket({id: ticket['id'] })" class="btn btn-success btn-sm sm_btn">view</a>
                            </div>
                            <div ng-if="(currentUserRole == 3) || (ticket.customer_id == currentUserId)">
                                <button data-toggle="modal" data-target="#createTicketModal" ng-click="editTicket(ticket.id)" class="btn btn-warning btn-sm sm_btn">edit</button>
                            </div>
                            <div ng-if="currentUserRole == 3">
                                <button data-toggle="modal" data-target="#confirmationModal" ng-click="setTicketId(ticket.id)" class="btn btn-danger btn-sm sm_btn">delete</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="closed">
            <div class="table-responsive table-hover table-bordered">
                <table class="table">
                    <th>Subject</th>
                    <th>Customer</th>
                    <th>Support</th>
                    <th>Status</th>
                    <th>Action/s</th>
                    <tr ng-if="closed_tickets.length <= 0"><td class="no_ticket" colspan="5">No Closed Ticket...</td></tr>
                    <tr ng-repeat="ticket in closed_tickets">
                        <td class="text-left" ng-bind="ticket['subject']"></td>
                        <td class="text-left text-capitalize" ng-bind="ticket['customer']"></td>
                        <td class="text-left text-capitalize" ng-bind="ticket['support']"></td>
                        <td class="text-left" ng-bind="ticket['formatted_status'] "></td>
                        <td class="ticket-actions text-left" style="width: 200px;">
                            <div>
                                <a ui-sref="show_ticket({id: ticket['id'] })" class="btn btn-success btn-sm sm_btn">view</a>
                            </div>
                            <!-- If ticket was closed, Only Admin can do -->
                            <div ng-if="currentUserRole == 3">
                                <button data-toggle="modal" data-target="#createTicketModal" ng-click="editTicket(ticket.id)" class="btn btn-info btn-sm sm_btn">edit</button>
                                <button ng-if="currentUserRole == 3" data-toggle="modal" data-target="#confirmationModal" ng-click="setTicketId(ticket.id)" class="btn btn-danger btn-sm sm_btn">delete</button>
                            </div>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>

    <!-- Create or Update Modal -->
    <div id="createTicketModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" ng-bind="modalTitle"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="ticket_form" ng-submit="createOrUpdateTicket()">
                        <label class="col-md-12">
                            Subject:
                            <input class="form-control" name="subject" ng-model="ticket.subject" required />
                        </label>
                        <label class="col-md-12">
                            Description:
                            <textarea class="form-control" name="description" ng-model="ticket.description" style="height: 90px" required></textarea>
                        </label>

                        <!-- Only Admin User -->
                        <div ng-if="currentUserRole == 3">
                             <label id="labelStatus" class="col-md-12"> Status: 
                                <select class="form-control" name="status" ng-model="ticket.status">
                                  <option value="0" ng-selected="ticket.status == 0">Open</option>
                                  <option value="1" ng-selected="ticket.status == 1">In-progess</option>
                                  <option value="2" ng-selected="ticket.status == 2">Closed</option>
                                </select>
                            </label>

                             <label class="col-md-12"> Support: 
                                <select class="form-control" name="support_id" ng-model="ticket.support_id" >
                                  <option></option>
                                  <option ng-selected="ticket.support_id == s.id" ng-repeat="s in support_users" value="{{s.id}}">{{s.name}}</ option>
                                </select>
                            </label>
                        </div>

                        <div class="upload_image" class="button" accept="image/*" ngf-select ng-model="ticket.ticket_attachments" ngf-multiple="true" ngf-before-model-change="previewImageNames($files)">Upload Attachments:</div>

                        <button id="create-ticket" type="submit" style="float: right; margin-top: -50px;" class="btn btn-info">Submit</button>

                        <!-- Generates of selected image file -->
                        <br>
                        <div style="width: 80%" id="ticketAttachmentFileToBeUploaded"></div>
                        
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Confirmation Modal -->
    <div id="confirmationModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">Are you sure ?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body text-center">
                    <button class="btn btn-info btn-lg" data-dismiss="modal">NO</button>
                    <button class="btn btn-danger btn-lg" ng-click="deleteTicket(target_ticket_id)">YES</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
