<!-- Main Content -->
<div class="row margtop50">
  <div class="col-sm-6">
  
  <div class="table-responsive table-hover table-bordered">
    	<table id="showTicketTable" class="table">
    		<tr>
    			<td style="width: 150px;">Ticket Subject:</td>
    			<td colspan="2">
    				<h4 class="maroon" ng-bind="json_ticket.ticket.subject"></h4>
    				<button ng-if="(json_ticket.ticket['support_id'] === null) && currentUserRole == 2" ng-click="takeTicket(json_ticket.ticket['id'])" class="btn btn-info btn-sm">Take</button>

    				<button ng-if="(json_ticket.ticket['customer_id'] == currentUserId) && json_ticket.ticket['status'] != 2" ng-click="closeTicket(json_ticket.ticket['id'])" class="btn btn-info btn-sm">Close</button>
    			</td>
    		</tr>
    		<tr>
    			<td>Description:</td>
    			<td colspan="2"><b ng-bind="json_ticket.ticket['description']"></b></td>
    		</tr>
    		<tr>
    			<td>Created At:</td>
    			<td colspan="2"><b ng-bind="json_ticket.ticket['created_at'] | date : 'MMM d, y h:mm:ss a'"></b></td>
    		</tr>
    		<tr>
    			<td>Status:</td>
    			<td colspan="2"><b ng-bind="json_ticket.status"></b></td>
    		</tr>
    		<tr>
    			<td>Customer:</td>
    			<td colspan="2"><b class="text-capitalize" ng-bind="json_ticket.customer"></b></td>
    		</tr>
    		<tr>
    			<td>Support:</td>
    			<td colspan="2"><b class="text-capitalize" ng-bind="json_ticket.support"></b></td>
    		</tr>
    	</table>
    </div>

	<p>
      	<ul class="img_attachment_holder">
      		<li ng-repeat="img in json_ticket['ticket']['attachments']">
      		<a href="{{appUrl}}{{img['original']}}" target="_blank">
      			<img ng-src="{{img['thumb']}}" class="img_attachment" />
  			</a>
  			</li>
      	</ul>
      </p>

	<form name='commentForm' ng-submit="postComment()">
		<input type="hidden" ng-model="comment.ticket_id" />
        <label class="col-md-12" style="padding-right: 0px; padding-left: 0px;">Post Comment:
            <textarea class="form-control" name="message" ng-model="comment.message" required></textarea>
        </label>
        <div class="upload_image show_ticket_upload" class="button" accept="image/*" ngf-select ng-model="comment.comment_attachments" ngf-multiple="true" ngf-before-model-change="previewImageNames($files)">Upload Attachments:</div>

        <!-- Generates of selected image file -->
        <span style="float: left; width: 80%" id="commentAttachmentFileToBeUploaded"></span>
          
        <button id="post-comment" type="submit" style="float: right; margin-top: -45px;" class="btn btn-danger">Submit</button>
    </form>
  </div>

  <div class="col-sm-6">
  	<div ng-if="ticket_comments.length <= 0"><h2 class="gray">No comments yet...</h2></div>
    <div class="row" ng-repeat="c in ticket_comments">
        <div class="col-sm-12">
            <div class="panel panel-white post" style="background-color: #f1f1f1;">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="/assets/profile.png" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5"><b class="maroon" ng-bind="c['commenter']"></b> <i>made a post.</i></div>
                        <h6 class="text-muted time" ng-bind="c['posted_at']"></h6>
                    </div>
                </div> 
                <div class="post-description"> 
                    <p ng-bind="c['message']"></p>
                    <p>
                    	<ul class="img_attachment_holder">
                    		<li ng-repeat="img in c['attachments']">
                    		<a href="{{appUrl}}{{img['original']}}" target="_blank">
                    			<img ng-src="{{img['thumb']}}" class="img_attachment" />
                  			</a>
                  			</li>
                    	</ul>
                    </p>
                </div>
            </div>
        </div>        
    </div>
  </div>
</div>