<div class="row margtop50">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form class="form-signin" ng-submit="do_sign_up()">
			<h2 class="form-signin-heading">Sign Up <i class="fa fa-address-card" aria-hidden="true"></i></h2>
			<label for="name" class="sr-only">Fullname</label>
			<input type="text" name="name" ng-model="signUp.name" class="form-control marg_btm10" placeholder="Full name" required autofocus />

			<label for="email" class="sr-only">Email address</label>
			<input type="email" name="email" ng-model="signUp.email" class="form-control marg_btm10" placeholder="Email address" required />

			<label for="password" class="sr-only">Password</label>
			<input type="password" name="password" ng-model="signUp.password" class="form-control marg_btm10" placeholder="Password" required />

			<label for="password_confirmation" class="sr-only">Confirm Password</label>
			<input type="password" name="password_confirmation" ng-model="signUp.password_confirmation" class="form-control marg_btm10" placeholder="Re-enter Password" required />
			
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
			<div class="text-rigth"><a href="/#/sign_in">Login?</a></div>
		</form>
	</div>
	<div class="col-md-4"></div>
</div>