<div class="row margtop50">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form id="signInForm" class="form-signin" ng-submit="do_signin()">
			<h2 class="form-signin-heading marg_btm10">Sign In <i class="fa fa-sign-in" aria-hidden="true"></i></h2>
			<label for="inputEmail" class="sr-only">Email address</label>
			<input type="email" name="email" ng-model="signin_data.email" class="form-control marg_btm10" placeholder="Email address" required autofocus />
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" ng-model="signin_data.password" name="password" class="form-control marg_btm10" placeholder="Password" required />
			<button class="btn btn-lg btn-primary btn-block marg_btm10" type="submit">Sign in</button>	

			<div class="text-rigth"><a href="/#/sign_up">Not yet registered?</a></div>
		</form>
	</div>
	<div class="col-md-4"></div>
</div>