<!-- Main Content -->
<div class="margtop50">
    <h2 class="text-left">USER LIST <i class="fa fa-list" aria-hidden="true"></i></h2>

    <a ng-if="currentUserRole == 2" href="/generate_closed_ticket_report.pdf" target="_blank" class="btn btn-info btn-sm" style="float: right; margin-left: 10px;">Closed Ticket Report</a>

    <button ng-if="currentUserRole == 1" ng-click="filterFields()" class="btn btn-warning btn-sm" style="float: right" data-toggle="modal" data-target="#createTicketModal">Create Ticket</button>


    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#admins" role="tab" data-toggle="tab">Admins</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#supports" role="tab" data-toggle="tab">Supports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#customers" role="tab" data-toggle="tab">Customer</a>
        </li>        
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" ng-if="currentUserRole == 3">        
        <div role="tabpanel" class="tab-pane in active" id="admins">
            <div class="table-responsive table-hover table-bordered">
                <table class="table">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Actions</th>
                    <tr ng-repeat="admin in users.admins">
                        <td class="text-left" ng-bind="admin['name']"></td>
                        <td class="text-left" ng-bind="admin['email']"></td>
                        <td class="text-left" ng-bind="admin['created_at'] | date : 'MMM d, y h:mm:ss a'"></td>
                        <td class="text-left">
                            <button data-toggle="modal" data-target="#updateUserModal" ng-click="editUser(admin.id)" class="btn btn-info btn-sm sm_btn">edit</button>&nbsp;
                            <button data-toggle="modal" data-target="#confirmationModal" ng-click="setUserId(admin.id)" class="btn btn-danger btn-sm sm_btn">delete</button>
                            
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="supports">
            <div class="table-responsive table-hover table-bordered">
                <table class="table">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Actions</th>
                    <tr ng-repeat="support in users.supports">
                        <td class="text-left" ng-bind="support['name']"></td>
                        <td class="text-left" ng-bind="support['email']"></td>
                        <td class="text-left" ng-bind="support['created_at'] | date : 'MMM d, y h:mm:ss a'"></td>
                        <td class="text-left">
                            <button data-toggle="modal" data-target="#updateUserModal" ng-click="editUser(support.id)" class="btn btn-info btn-sm sm_btn">edit</button>&nbsp;
                            <button data-toggle="modal" data-target="#confirmationModal" ng-click="setUserId(support.id)" class="btn btn-danger btn-sm sm_btn">delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="customers">
            <div class="table-responsive table-hover table-bordered">
                <table class="table">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Actions</th>
                    <tr ng-repeat="customer in users.customers">
                        <td class="text-left" ng-bind="customer['name']"></td>
                        <td class="text-left" ng-bind="customer['email']"></td>
                        <td class="text-left" ng-bind="customer['created_at'] | date : 'MMM d, y h:mm:ss a'"></td>
                        <td class="text-left">
                            <button data-toggle="modal" data-target="#updateUserModal" ng-click="editUser(customer.id)" class="btn btn-info btn-sm sm_btn">edit</button>&nbsp;
                            <button data-toggle="modal" data-target="#confirmationModal" ng-click="setUserId(customer.id)" class="btn btn-danger btn-sm sm_btn">delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>

    <!-- Create User Modal -->
    <div id="updateUserModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update User Info</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form ng-submit="updateUser()">
                        <label class="col-md-12">Name:
                            <input class="form-control" name="name" ng-model="user.name" required />
                        </label>
                        <label class="col-md-12">Email:
                            <input class="form-control" name="name" ng-model="user.email" required />
                        </label>

                        <label class="col-md-12">Password:
                        <input type="password" name="password" ng-model="user.password" class="form-control" placeholder="Password"/>
                        </label>

                        <label class="col-md-12">Confirm Password:
                        <input type="password" name="password_confirmation" ng-model="user.password_confirmation"  class="form-control" placeholder="Re-enter Password"/>
                        </label>

                        <label class="col-md-12">Role:
                        <select class="form-control" name="role" ng-model="user.role">
                          <option value="1" ng-selected="user.role == 1">Customer</option>
                          <option value="2" ng-selected="user.role == 2">Support</option>
                          <option value="3" ng-selected="user.role == 3">Admin</option>
                        </select>
                        </label>
            
                        <button type="submit" style="float: right;" class="btn btn-info">Update</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Update Password Modal -->
    <div id="updatePasswordModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update User Password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form ng-submit="updatePassword()" role="form">
                      <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="updatePasswordForm.password" required="required" class="form-control">
                      </div>

                      <div class="form-group">
                        <label>Password confirmation</label>
                        <input type="password" name="password_confirmation" ng-model="updatePasswordForm.password_confirmation" required="required" class="form-control">
                      </div>

                      <button class="btn btn-danger btn-lg" type="submit">Update Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div id="confirmationModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">Are you sure ?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body text-center">
                    <button class="btn btn-info btn-lg" data-dismiss="modal">NO</button>
                    <button class="btn btn-danger btn-lg" ng-click="deleteUser(target_user_id)">YES</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>