body{background-color: #e3eaed !important;}
.footer{
  background-image: url(/assets/footer.png);
  background-size: cover;
  background-position: 100% 135px;
  height: 200px;
  background-repeat: no-repeat;
  bottom: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: -1;
  text-align: center;
}
.footer p{
  bottom: 0;
  position: fixed;
  right: 0;
  left: 0;
  font-size: 13px;
  color: #9d9d9d;
}
.gritter-image{
  width: 25px !important;
  height: 25px !important;
  float: left;
  z-index: 1;
}
.gritter-with-image {width: 250px !important;}

.currentUserName{color: #fff;}
.currentUserName>label{text-transform: capitalize; margin-top: 8px;}
.marg_btm10{margin-bottom: 10px;}
.margtop50{margin-top: 70px;}
.hide{display: none;}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #fff !important;
    background-color: maroon !important;
}
.modal-header{
    background-color: maroon;
    color: #fff;
}

#gritter-notice-wrapper{top: 60px !important}

table#showTicketTable td{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #eee !important;
}

.nav-tabs {
  border-bottom: 2px !important;
  margin-bottom: 2px !important;
}
.nav-tabs .nav-link {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}
.maroon{color: maroon !important}
.gray{color: #888787 !important}
h2{color: maroon !important;}
table{font-size: 14px;}
table>tbody>tr>th{
  background-color: #800000;
  color: #fff;
}
table>tbody{
  background-color: #fff;
}
td.ticket-actions div{display: inline-block;}
.no_ticket{
  font-size: 16px;
  color: #5F5F5F;
}

.sm_btn{padding: 0.1rem 0.3rem;}
ul.img_attachment_holder{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.show_ticket_upload{
  width: 90%;
}
.upload_image{
  background-image: url("/assets/upload.png");
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: 41%;
  font-weight: bold;
  cursor: pointer;
  height: 50px;
}

ul.img_attachment_holder li {
    float: left;
    display: inline-block !important;
}

ul.img_attachment_holder li img {        
    text-align: left;
    padding-right: 5px;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 50px;
  padding: 10px 5px;
}
.post .post-heading .avatar {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
  font-size: 12px !important;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}