h1.header{
	margin: 0px;
	font-size: 30px;
	color: maroon;
}
h1.no_ticket{
	font-size: 60px;
	color: #d9d9d9;
	text-transform: uppercase;
	text-align: center;
}
.capitalize{text-transform: capitalize;}
b.support_name{text-transform: capitalize;}
.other_data >p{display: inline-block; font-size: 15px;}
.closed_ticket_count{
	float: right;
}
.closed_ticket_table {width: 100%}
.closed_ticket_table th{
	text-align: left;
	background-color: maroon;
	color: #fff;
	padding: 5px 0 5px 4px;	
}
.closed_ticket_table th:last-child{width: 150px;}
.closed_ticket_table td{
	font-size: 14px;
	border-bottom: 1px solid #eee;
	padding: 3px 0 3px 3px;
}