<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ticketing App">
    <meta name="author" content="">
    <base href="/">
    <link rel="icon" href="favicon.ico">

    <title>Ticketing App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <script type="text/javascript">
      var BASE_URL = "<%= BASE_URL %>"
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-app="app">
    <div class="container">
      <div class="starter-template">
        <%= yield %>
      </div>
    </div>

    <div class="footer">
      <p>Aldrien@Crossover. &copy; All rights reserved 2017</p>
    </div>
  </body>
</html>