<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Closed Ticket PDF Report</title>
    <meta charset="utf-8"/>
    <%= wicked_pdf_stylesheet_link_tag "pdf_report.css", media: "all" %>
  </head>
<body style='margin:0;padding:0;'>  
  <%= yield %>  
</body>
</html>